@model CA_Gym.Models.Member
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "User", FormMethod.Post))  
{
    @Html.ValidationSummary(false, "", new { @class = "error" })
    <p>
        @Html.LabelFor(u => u.Email)
        @Html.TextBoxFor(u => u.Email, new { style = "width:160px" })
    </p>
    <p>
        @Html.LabelFor(u => u.Password)
        @Html.PasswordFor(u => u.Password, new { style = "width:160px"})
    </p>
    <p>
        @Html.LabelFor(u => u.MemberRole)
        @Html.EnumDropDownListFor(u => u.MemberRole, new { style = "width:160px" })
    </p>
    <p>
        <br />
        <input id="Submit1" type="submit" value="Login" />
        <input id="Reset1" type="reset" value="Clear" />
    </p>
}
@Html.ActionLink("User", "Index")


