@model CA_Gym.Models.Trainer
@{
    ViewBag.Title = "AddTrainer";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-6 offset-md-3">
            @using (Html.BeginForm("AddTrainer", "Trainers", FormMethod.Post))
            {
                <form class="form-group ">
                    <h2 class="display-4 py-3 mt-4">Add New Trainer</h2>
                    @Html.ValidationSummary(false, "", new { @class = "error" })

                    <div class="form-group row">
                        @Html.LabelFor(u => u.Name, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        @Html.LabelFor(u => u.Age, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(u => u.Age, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(u => u.Gender, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(u => u.Gender, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(u => u.Speciality, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(u => u.Speciality, new { @class = "form-control" })
                        </div>
                    </div>

                    <input id="Submit1" type="submit" value="Add Trainer" class="btn btn-success mt-3 mb-5 mr-3" />
                    <input id="Reset1" type="reset" value="Clear Form" class="btn btn-danger mt-3 mb-5 " />

                </form>
            }
        </div>
    </div>
    
</div>

