@model CA_Gym.Models.Trainer
@{
    ViewBag.Title = "AddTrainer";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div>
    @using (Html.BeginForm("AddTrainer", "Trainers", FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", new { @class = "error" })
        <p>
            @Html.LabelFor(u => u.name)
            @Html.TextBoxFor(u => u.name)
        </p>
        <p>
            @Html.LabelFor(u => u.age)
            @Html.TextBoxFor(u => u.age)
        </p>
        <p>
            @Html.LabelFor(u => u.gender)
            @Html.TextBoxFor(u => u.gender)
        </p>
        <p>
            @Html.LabelFor(u => u.speciality)
            @Html.PasswordFor(u => u.speciality)
        </p>
        <p>
            <input id="Submit1" type="submit" value="Register" />
            <input id="Reset1" type="reset" value="Clear" />
        </p>
    }

</div>

