@model CA_Gym.Models.PTSession
@{
    ViewBag.Title = "AddPTSession";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2">
            @using (Html.BeginForm("AddPTSession", "Classes", FormMethod.Post))
            {
                <form class="form-group ">
                    <h2 class="display-4 py-3 mt-4 text-center">Book a Personal Trainer</h2>
                    @Html.ValidationSummary(false, "", new { @class = "error" })

                    

                    <div class="form-group row">
                        @Html.Label("Choose Your Trainer: ", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("TrainerList", new SelectList((List<string>)ViewBag.TrainerList), new { @class = "custom-select" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Choose Location: ", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("LocationList", new SelectList((List<string>)ViewBag.LocationList),new { @class = "custom-select" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Type of Session: ", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("TypeList", new SelectList((List<string>)ViewBag.TypeList), new { @class = "custom-select" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Session Length" + Environment.NewLine + "(We charge €20 per hour): ", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("HourList", new SelectList((List<int>)ViewBag.HourList), new { @class = "custom-select" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Date: ", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(u => u.SessionDate, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Time: ", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(u => u.SessionTime, new { @class = "form-control" })
                        </div>
                    </div>

                    <input id="Submit1" type="submit" value="Book PT Session" class="btn btn-success mr-3 mt-2 mb-5" />
                    <input id="Reset1" type="reset" value="Clear Form" class="btn btn-danger mt-2 mb-5" />

                </form>
            }
        </div>
    </div>

</div>

