@model CA_Gym.Models.Member

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 a"></div>
    </div>
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", new { @class = "error" })
        <p>
            @Html.LabelFor(u => u.Email)
            @Html.TextBoxFor(u => u.Email, new { style = "width:160px" })
        </p>
        <p>
            @Html.LabelFor(u => u.MemPass)
            @Html.PasswordFor(u => u.MemPass, new { style = "width:160px" })
        </p>
        @*<p>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
        </p>*@
        <p>
            <br />
            <input id="Submit1" type="submit" value="Submit" />
            <input id="Reset1" type="reset" value="Clear" />
        </p>
    }
</div>
