@model CA_Gym.Models.MemberShipType

@{
    ViewBag.Title = "MemberType";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <div class="row mt-5 justify-content-center my-5">
        <div class="col-md-10">
           @using (Html.BeginForm("MemberType", "User", FormMethod.Post, new { @class = "form-group" }))
            {
            @Html.AntiForgeryToken()
                <h2 class="display-4 mb-5">Choose Which Membership You Want..</h2>
                @Html.ValidationSummary(false, "", new { @class = "error" })
            <div class="form-group row">
                @Html.LabelFor(model => model.MemType, "Membership Type", htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.DropDownList("TypeList", new SelectList((List<string>)ViewBag.TypeList), new { @class = "custom-select" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.GymLocation, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GymList", new SelectList((List<string>)ViewBag.GymList), new { @class = "custom-select" })
                </div>
            </div>

                <input id="Submit1" type="submit" value="Submit" class="btn btn-primary btn-block mt-4 mb-1" />
                <input id="Reset1" type="reset" value="Clear" class="btn btn-danger btn-block mt-2 mb-5" />

            }
        </div>
    </div>
    <div class="row my-5"></div>

</div>

