
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<header id="page-header">

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Contact Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum aliquid, provident nam aliquam voluptatibus?</p>

            </div>
        </div>
    </div>
</header>

<!--Contact form-->

<section id="contact" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 offset-md-3">
                @*<form class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="" placeholder="Your name..." class="form-control" required>

                    <label for="email">Email</label>
                    <input type="text" name="" placeholder="joe@test.com" class="form-control" required>

                    <label for="message">Message</label>
                    <textarea rows="5" class="form-control" placeholder="Your message here..."></textarea>

                    <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
                </form>*@
                @using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
                {
                    @Html.ValidationSummary(false, "", new { @class = "error" })
                    <p>
                        @Html.Label("Name")
                        @Html.TextBox("name")
                    </p>
                    <p>
                        @Html.Label("Email")
                        @Html.TextBox("email")
                    </p>
                    <p>
                        @Html.Label("Message")
                        @Html.TextArea("comments", new { @rows = 4, @cols = 50 })
                    </p>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block mt-3" />
                }
            </div>
        </div>
    </div>
</section>



